<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS 2 - Tutorial</title>
</head>
<body>
   
    <div id="app">
        <!-- Ini adalah contoh directive v-message-->
        <p>Ini contoh menggunakan directive v-message :</p>
        <p>Contoh 1:</p>
        <ul>
            <li v-for="message in messages">{{ message }}</li>
        </ul>
        <p>Contoh 2:</p>
        <ul>
            <li v-for="data in datas" :key="data.id">{{ data.name }}</li>
        </ul>
        <p>Contoh 3:</p>
        <ul>
            <li v-for="count in count">Item #{{ count }}</li>
        </ul>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <script type="text/javascript">
        let data = {
            messages: ['hello', 'hai', 'woy'],
            datas: [
                {
                    id: 1,
                    name: 'jhon'
                },
                {
                    id: 2,
                    name: 'doe'
                }
            ],
            count: 10
        };
        
        var app = new Vue({
            el: '#app',
            data: data
        })
        
    </script>
</body>
</html>